header{
background-color: blue;
padding: 20px;
margin: 20;
}

nav{
    background-color: blue;
    padding: 20px;
    margin: 20;
    align-self: center;
    }

.carousel{
padding: 20px;
margin: 40px;
align-content: center;
width: 70%;
}   
.carousel-item img{
width: 90%;
height: 450px;

}

.container{
    width: 100%;
}
#CompanyName{
flex-direction: row;
flex-flow: row;
padding: 0%;
margin: 0%;
display: flex;
justify-content: center;
font-size: larger;
font-weight: 500;

}
#CompanyName:hover{
    border: 10px;
    box-shadow: burlywood;
    border-radius: 10px;
    flex-direction: row;
    flex-flow: row;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: 500;
    font-style: italic;
    
    }
    .card{
        margin: 10px;
    }